{% extends 'JihelOmnipaySpreedlyBridgeBundle::layout.html.twig' %}

{% trans_default_domain 'JihelSpreedlyBridge' %}

{% block jihel_omnipay_spreedly_bridge_body %}

    {{ form(form) }}

{% endblock jihel_omnipay_spreedly_bridge_body %}

{% block jihel_omnipay_spreedly_bridge_js %}
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="btn btn-default add_tag_link"><span class="glyphicon glyphicon-plus"></span> {{ 'receiver.btn.add'|trans }}</button>');
        var $newLinkLi = $('<div></div>').append($addTagButton);

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        $(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#receiver_request_form_credentials');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        })
    </script>
{% endblock jihel_omnipay_spreedly_bridge_js %}
